exportPattern("^[[:alpha:]]+")
exportMethods(
    "flatten",
    "getAssetIDs",
    "getAssetLabels",
    "getAvailableTimes",
    "getPermnosByTickers",
    "getTickersByPermnos",
    "scaleNumericFactors",
    "show",
    "subset" 
)
exportClasses(
    "fmds",
     "fmdsCube",
     "fmdsCube.CRSP" 
)
